{% for option,callback in datatable_object.options.callbacks %}

    {% if option is same as ('ajaxResponse') and datatable_object.options.ajaxResponsePassthrough is not same as (null) %}
    {% elseif option is same as ('dataLoaded') and datatable_object.options.dataLoadedPassthrough is not same as (null) %}
    {% elseif option is same as ('renderStarted') and datatable_object.options.renderStartedPassthrough is not same as (null) %}
    {% elseif option is same as ('ajaxResponsePassthrough') %}
        "ajaxResponse":{% include callback.template with callback.variables %},
    {% elseif option is same as ('dataLoadedPassthrough') %}
        "dataLoaded":{% include callback.template with callback.variables %},
    {% elseif option is same as ('renderStartedPassthrough') %}
        "renderStarted":{% include callback.template with callback.variables %},
    {% else %}
        "{{ option }}":{% include callback.template with callback.variables %},
    {% endif %}

{% endfor %}