{% trans_default_domain datatable_object.translationDomain %}
columns:[
    {% for column in datatable_object.columnBuilder.columns %}
        {
            {% spaceless %}
            title:'{{ column.title|trans(column.titleTranslationParameters ? column.titleTranslationParameters : {})|raw }}',
            {% if column.isGroup %}
                columns:[
                    {% for col in column.columns %}
                        {
                            title:'{{ col.title|trans(col.titleTranslationParameters ? col.titleTranslationParameters : {})|raw }}',
                            field:'{{ col.identifier }}',
                            {% for option, value in col.activeMethods %}
                                {% if value is same as(true) %}
                                    {{ option }}:true,
                                {% elseif value is same as(false) %}
                                    {{ option }}:false,
                                {% elseif isCallback(value) %}
                                    {{ option }}:{% include value.template with value.variables %},
                                {% elseif value is iterable %}
                                    {#Unhandled value#}
                                {% elseif value matches '/^\\d+$/' or value matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
                                    {{ option }}:{{ value }},
                                {% else %}
                                    {{ option }}:'{{ value }}',
                                {% endif %}
                            {% endfor %}
                        },
                    {% endfor %}
                ],
                {% for option, value in column.activeMethods %}
                    {% if value is same as(true) %}
                        {{ option }}:true,
                    {% elseif value is same as(false) %}
                        {{ option }}:false,
                    {% elseif isCallback(value) %}
                        {{ option }}:{% include value.template with value.variables %},
                    {% elseif value is iterable %}
                        {#Unhandled value#}
                    {% elseif value matches '/^\\d+$/' or value matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
                        {{ option }}:{{ value }},
                    {% else %}
                        {{ option }}:'{{ value }}',
                    {% endif %}
                {% endfor %}
            {% else %}
                field:'{{ column.identifier }}',
                {% for option, value in column.activeMethods %}
                    {% if value is same as(true) %}
                        {{ option }}:true,
                    {% elseif value is same as(false) %}
                        {{ option }}:false,
                    {% elseif isCallback(value) %}
                        {{ option }}:{% include value.template with value.variables %},
                    {% elseif value is iterable %}
                        {#Unhandled value#}
                    {% elseif value matches '/^\\d+$/' or value matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
                        {{ option }}:{{ value }},
                    {% else %}
                        {{ option }}:'{{ value }}',
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endspaceless %}
        },
    {% endfor %}
],
