{% trans_default_domain datatable_object.translationDomain %}

<table id="datatable_table_{{ datatable_object.getName }}" class="{{ datatable_object.options.tableClasses }}" cellspacing="0" width="100%">
    {#<thead>#}
        {#<tr class="{{ datatable_object.options.tableHeaderClasses }}">#}
            {#{% for column in datatable_object.columnBuilder.columns %}#}
                {#<th>{{ column.title|trans }}</th>#}
            {#{% endfor %}#}
        {#</tr>#}
    {#</thead>#}
    {#<tbody>#}
        {#{% for iter,row in datatable_object.rowBuilder.rows %}#}
            {#<tr class="{{ datatable_object.options.tableRowClasses }}">#}
                {#{% for column in datatable_object.columnBuilder.columns %}#}
                    {#<td class="{{ datatable_object.options.tableCellClasses }}">#}
                        {#{% if row.isArrayValue(column.identifier) %}#}
                            {#{% if datatable_object.isTypeHtml %}#}
                                {#{% set cellTableData = row.getValue(column.identifier) %}#}
                                {#<table id="datatable_table_cell_table_{{ datatable_object.getName }}_{{ column.identifier }}_{{ iter }}" class="{{ datatable_object.options.tableClasses }}" cellspacing="0" width="100%">#}
                                    {#<tbody>#}
                                        {#{% for cellRowKey,cellRow in cellTableData %}#}
                                            {#<tr class="{{ datatable_object.options.tableRowClasses }}">#}
                                                {#{% for columnKey,columnValue in cellRow %}#}
                                                    {#<td class="{{ datatable_object.options.tableCellClasses }}">#}
                                                        {#{{ columnValue }}#}
                                                    {#</td>#}
                                                {#{% endfor %}#}
                                            {#</tr>#}
                                        {#{% endfor %}#}
                                    {#</tbody>#}
                                {#</table>#}
                            {#{% endif %}#}
                        {#{% else %}#}
                            {#{{ row.getValue(column.identifier) }}#}
                        {#{% endif %}#}
                    {#</td>#}
                {#{% endfor %}#}
            {#</tr>#}
        {#{% endfor %}#}
    {#</tbody>#}
    {#<tfoot>#}
    {#</tfoot>#}
</table>