{% include '@DolmITDataTables/datatable/datatable-html.html.twig' %}

{% if datatable_object.type == 'TABULATOR' %}
    {% include '@DolmITDataTables/datatable/datatable-tabulator.html.twig' %}
{% endif %}

{% if datatable_object.type == 'DATATABLES' %}
    {% include '@DolmITDataTables/datatable/datatable-datatables.html.twig' %}
{% endif %}