ajaxRequestFunc: function(url,config,params) {
    return DataTables.tabulator.ajaxRequestFunc(this, url, config, params)
},
{% include '@DolmITDataTables/datatable/columns.js.twig' %}
{% include '@DolmITDataTables/datatable/options.js.twig'  %}
{% include '@DolmITDataTables/datatable/callbacks.js.twig' %}