<div style="display:none;" id="{{ datatable_object.name }}_placeholder_template_source">
    <div class="tabulator-placeholder loading" tabulator-render-mode="virtual">
        <span>
            {% if datatable_object.options.loadingPlaceholderText %}
                {{ datatable_object.options.loadingPlaceholderText|trans }}
            {% else %}
                <i class="fa fa-spinner fa-spin"></i>
            {% endif %}
        </span>
    </div>
    <div class="tabulator-placeholder empty" tabulator-render-mode="virtual">
        <span>
            {% if datatable_object.options.emptyPlaceholderText %}
                {{ datatable_object.options.emptyPlaceholderText|trans }}
            {% else %}
                {{ 'No data'|trans }}
            {% endif %}
        </span>
    </div>
</div>

<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function() {

        var selector = "#datatable_table_{{ datatable_object.name }}";
        var data, dataTableObject;

        var tabulatorOptions = {
            {{ render_datatable_tabulator_config(datatable_object)}}
        };

        {% if datatable_object.options.ajaxFiltering and datatable_object.options.ajaxFilterOverride %}
            {# Remove ajaxURL from options if filter override is set #}
            delete tabulatorOptions.ajaxURL;
        {% endif %}


        {% include '@DolmITDataTables/datatable/general.js.twig' %}


        {% if datatable_object.data is not empty %}
            data = {{ datatable_object.data|json_encode|raw }};
        {% endif %}


        // Initialize heightAdjuster before the Tabulator is loaded to be able to account for data being set directly at init.
        DataTables.tabulator.heightAdjuster.initializeConfig(null, tabulatorOptions, selector);

        var dataTableObject = new DataTable({
            selector: selector,
            data: data,
            type: DataTable.typeTabulator(),
            options: tabulatorOptions
        });
        DataTables.add(dataTableObject);

        {% if datatable_object.options.ajaxFiltering and datatable_object.options.ajaxFilterOverride %}
            {# Call out filter automatically - first load and filter initialization #}
            DataTables.tabulator.handleFilters(selector);
        {% endif %}
    });

</script>
