DataTables.tabulator.placeholders[selector] = [];


{% if datatable_object.options.emptyPlaceholderDom %}
    DataTables.tabulator.placeholders[selector]['empty'] = {{ datatable_object.options.emptyPlaceholderDom }};
    delete options.emptyPlaceholderDom;
{% else %}
    DataTables.tabulator.placeholders[selector]['empty'] = document.getElementById('{{ datatable_object.name }}_placeholder_template_source').querySelector('.tabulator-placeholder.empty');
{% endif %}

{% if datatable_object.options.loadingPlaceholderDom %}
    DataTables.tabulator.placeholders[selector]['loading'] = {{ datatable_object.options.loadingPlaceholderDom }};
    delete options.loadingPlaceholderDom;
{% else %}
    DataTables.tabulator.placeholders[selector]['loading'] = document.getElementById('{{ datatable_object.name }}_placeholder_template_source').querySelector('.tabulator-placeholder.loading');
{% endif %}