{% for option,value in datatable_object.options.options %}
    {% if value is same as(true) %}
        {{ option }}:true,
    {% elseif value is same as(false) %}
        {{ option }}:false,
    {% elseif value matches '/^\\d+$/' or value matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
        {{ option }}:{{ value }},
    {% else %}
        {{ option }}:'{{ value }}',
    {% endif %}
{% endfor %}
