{% trans_default_domain datatable_object.translationDomain %}

{% if datatable_object.statisticsBuilder.statistics|length > 0 %}

    <div class="datatable-statistics text-center">

        {% for statistic in datatable_object.statisticsBuilder.statistics %}

            <div class="statistic-element {{ datatable_object.statisticsClassName }}" id="datatable_table_{{ datatable_object.name }}_{{ statistic.identifier }}">

                {% if statistic.title is not same as (null) %}
                    <label>{% spaceless %}{{ statistic.title|trans }}{% endspaceless %}</label>
                {% endif %}

                <div class="value-container">{% spaceless %}
                        {% set foundValue = false %}
                        {% for key,data in datatable_object.statisticsData %}
                            {% if key == statistic.identifier %}
                                {% set foundValue = true %}
                                {{ data|raw }}
                            {% endif %}
                        {% endfor %}
                        {% if foundValue is same as(false) %}
                            &nbsp;
                        {% endif %}
                    {% endspaceless %}</div>

            </div>

        {% endfor %}

    </div>

{% endif %}