function (url, params, response){

    if (response.statistics) {
        DataTables.statistics.handleStatistics(this.element, response.statistics);
    }

    if (response.data.length && this.dataTable) {
        for (var i = 0; i < response.data.length; i++) {
            response.data[i]['{{ datatable_object.options.editableKey }}'] = this.dataTable.getStateEditable();
        }
    }

    {% if datatable_object.options.ajaxResponse is not same as (null) %}
        var ajaxResponseCallback = {% include datatable_object.options.ajaxResponse.template with datatable_object.options.ajaxResponse.variables %};
        response = ajaxResponseCallback.call(this, url, params, response);
    {% endif %}

    if (this.modules.ajax && this.modules.ajax.progressiveLoad) {
        return response; //return the response data to tabulator
    }

    return response.data;
}