function(data){
    {% if datatable_object.options.dataLoaded is not same as (null) %}
        var dataLoadedCallback = {% include datatable_object.options.dataLoaded.template with datatable_object.options.dataLoaded.variables %};
        dataLoadedCallback.call(this, data);
    {% endif %}
}