function(){
    {% if datatable_object.options.renderStarted is not same as (null) %}
        var renderStartedCallback = {% include datatable_object.options.renderStarted.template with datatable_object.options.renderStarted.variables %};
        renderStartedCallback.call(this, data);
    {% endif %}
    var data = this.getData();

    if (data.length) {
        DataTables.tabulator.heightAdjuster.updateTableHeight(this, data.length);
    }

}