{% trans_default_domain datatable_object.translationDomain %}

{% if false %}
    <div class="datatable-action-bar-container">

        <div class="datatable-action-bar closed">

        </div>

    </div>
{% endif %}