{% if datatable_object.options.filterAjaxDataFilter %}
dataFilter: {% include datatable_object.options.filterAjaxDataFilter.template with datatable_object.options.filterAjaxDataFilter.variables %},
{% endif %}