{% if datatable_object.options.filterAjaxDone %}
.done({% include datatable_object.options.filterAjaxDone.template with datatable_object.options.filterAjaxDone.variables %})
{% endif %}
{% if datatable_object.options.filterAjaxFail %}
.done({% include datatable_object.options.filterAjaxFail.template with datatable_object.options.filterAjaxFail.variables %})
{% endif %}
{% if datatable_object.options.filterAjaxAlways %}
.done({% include datatable_object.options.filterAjaxAlways.template with datatable_object.options.filterAjaxAlways.variables %})
{% endif %}
{% if datatable_object.options.filterAjaxThen %}
.done({% include datatable_object.options.filterAjaxThen.template with datatable_object.options.filterAjaxThen.variables %})
{% endif %}