{% if datatable_filter_form is not same as(null) and datatable_object.options.filterShown %}

    <div class="filter datatable-filter">

        {{ form(datatable_filter_form_view) }}

    </div>

    <script>
        {% if datatable_object.options.filterAjax %}

        document.addEventListener('DOMContentLoaded', function () {


            $('#datatable_filter_container_{{ datatable_object.name }}').find('form[name="{{ datatable_filter_form.getName }}"]').submit(function (event) {
                event.preventDefault();

                {% set use_default = false %}

                {% if datatable_object.isTypeTabulator %}

                    {% if datatable_object.options.ajaxFiltering and datatable_object.options.ajaxFilterOverride %}

                        DataTables.tabulator.handleFilters('#datatable_table_{{ datatable_object.name }}');

                    {% else %}

                        {% set use_default = true %}

                    {% endif %}

                {% else %}

                    {% set use_default = true %}

                {% endif %}

                {% if use_default %}

                    var $form = $(this),
                        data = $form.serializeArray(),
                        url = $form.attr('action'),
                        method = $form.attr('method');

                    $.ajax({
                        data: data,
                        url: url,
                        contentType: 'application/x-www-form-urlencoded; charset=utf-8', //set specific content type
                        dataType: 'json',
                        type: method,
                        {% include '@DolmITDataTables/filter/filter-ajax-options.js.twig' %}
                    }){% include '@DolmITDataTables/filter/filter-ajax-events.js.twig' %};
                {% endif %}

            });
        });


        {% endif %}
    </script>


{% endif %}
