<div id="datatable_container_{{ datatable_object.name }}" class="datatable-container">

    {% block datatable_header %}

        {% include '@DolmITDataTables/layout/header.html.twig' %}

    {% endblock datatable_header %}

    <div class="datatable-separator"></div>

    {% block datatable_container %}{% endblock datatable_container %}

    <div class="datatable-separator"></div>

    {% block datatable_footer %}

        {% include '@DolmITDataTables/layout/footer.html.twig' %}

    {% endblock datatable_footer %}

</div>
