{% if datatable_object.options.headerShown %}

        <div id="datatable_header_container_{{ datatable_object.name }}" class="datatable-header-container">
                <div id="datatable_filter_container_{{ datatable_object.name }}" class="datatable-filter-container">
                    {% spaceless %}
                            {{ render_datatable_filter(datatable_object) }}

                            {{ render_datatable_statistics(datatable_object) }}

                            {{ render_datatable_action_bar(datatable_object) }}
                    {% endspaceless %}
                </div>
        </div>

{% endif %}
