function(cell, formatterParams, onRendered){
    var data = cell.getRow().getData();

    var editTemplate = {% if editTemplate %}'{{ form_widget(editTemplate) }}'{% else %}null{% endif %};
    var viewTemplate = {% if viewTemplate %}'{{ form_widget(viewTemplate) }}'{% else %}null{% endif %};

    if (
        (null !== editTemplate && editTemplate.length > 0) ||
        (null !== viewTemplate && viewTemplate.length > 0)
    ) {
        var cellFormFormatter = null, updateElements = [], position = 0;

        if (cell.getRow() && cell.getRow()._row.modules.hasOwnProperty('dataTree') && cell.getRow().getTreeParent()) {
            var parent = cell.getRow().getTreeParent();
            var children = parent.getTreeChildren();
            for (var i = 0; i < children.length; i++) {
                if (children[i].getData().id === cell.getRow().getData().id) position = ((parent.getTable().getDataCount() * 10) + parent.getPosition() * 10 + i);
            }
            if (!position) {
                position = parent.getPosition() + children.length;
            }
        } else {
            position = cell.getRow().getPosition();
        }

        var cellFormFormatterConfig = {
            template:  null,
            position: position,
            identifier: '{{ column.identifier }}',
            overrideDefault: {% if column.formOverrideDefault %}true{% else %}false{% endif %},
            data: data,
            formPrefix: null,
        };

        if (true === data['{{ datatable_object.options.editableKey }}'] && (null !== editTemplate && editTemplate.length > 0)){

            cellFormFormatterConfig.template = editTemplate;
            cellFormFormatterConfig.formPrefix = '{{ editFormPrefix }}';
            cellFormFormatter = DataTables.tabulator.createCellFormFormatter(cellFormFormatterConfig);
            updateElements = cellFormFormatter.getUpdateElements() || [];

            {% if column.formMappings %}
                {% for formMappingCallback in column.formMappings %}
                    {% if formMappingCallback.forEdit %}
                        updateElements.push({
                            'identifier' : '{{ formMappingCallback.identifier }}',
                            'querySelector' : {% if formMappingCallback.querySelector %}'{{ formMappingCallback.querySelector }}'{% else %}null{% endif %},
                            'attribute' : {% if formMappingCallback.attribute %}'{{ formMappingCallback.attribute }}'{% else %}null{% endif %},
                            'attributeValue' : {% if formMappingCallback.attributeValue %}'{{ formMappingCallback.attributeValue }}'{% else %}null{% endif %},
                        });
                    {% endif %}
                {% endfor %}
            {% endif %}

        } else if (false === data['{{ datatable_object.options.editableKey }}'] && (null !== viewTemplate && viewTemplate.length > 0)) {

            cellFormFormatterConfig.template = viewTemplate;
            cellFormFormatterConfig.formPrefix = '{{ viewFormPrefix }}';
            cellFormFormatter = DataTables.tabulator.createCellFormFormatter(cellFormFormatterConfig);
            updateElements = cellFormFormatter.getUpdateElements() || [];

            {% if column.formMappings %}
                {% for formMappingCallback in column.formMappings %}
                    {% if formMappingCallback.forView %}
                        updateElements.push({
                            'identifier' : '{{ formMappingCallback.identifier }}',
                            'querySelector' : {% if formMappingCallback.querySelector %}'{{ formMappingCallback.querySelector }}'{% else %}null{% endif %},
                            'attribute' : {% if formMappingCallback.attribute %}'{{ formMappingCallback.attribute }}'{% else %}null{% endif %},
                            'attributeValue' : {% if formMappingCallback.attributeValue %}'{{ formMappingCallback.attributeValue }}'{% else %}null{% endif %},
                        });
                    {% endif %}
                {% endfor %}
            {% endif %}

        }

        if (null !== cellFormFormatter) {
            cellFormFormatter.setUpdateElements(updateElements);
            cellFormFormatter.buildUpdateElements();

            var element = cellFormFormatter.getElement();

            {% if column.formValueQuerySelector %}
                var formElement = element.querySelector('{{ column.formValueQuerySelector }}');
            {% else %}
                var formElement = cellFormFormatter.getFormElement();
            {% endif %}

            function successFunc() {
                window.clearTimeout(successFunc.timeout);
                successFunc.timeout = window.setTimeout(function() {
                    var value;
                    if (formElement.nodeName === 'INPUT') {
                        value = formElement.value;
                    } else if (formElement.nodeName === 'SELECT') {
                        var opts = formElement.options;
                        value = opts[formElement.selectedIndex].value;
                    } else {
                        value = formElement.innerHTML;
                    }

                    if (cell.getElement()) {
                        try {
                            cell.setValue(value);
                        } catch(exception) {}
                    }
                }, 0);
            }

            if (formElement) {

                formElement.addEventListener('change', successFunc);

            }

            return element;
        }
    }


    return cell.getValue();
}