{#{% use "form_div_layout.html.twig" %}#}
{% form_theme form 'form_div_layout.html.twig' %}

{%- block form_row -%}
    {{- form_widget(form) -}}
{%- endblock form_row -%}

{% if form.children|length > 0  %}
{% for child in form.children %}

    {{ form_row(child) }}

{% endfor %}
{% else %}

    {{ form_row(form) }}

{% endif %}

